#myNavbar .navbarUp {
  background: #222 !important;
  height: 64px;
}
#myNavbar .navbarUp .navbar-nav .dropdown {
  display: flex;
  margin-left: 22px;
  padding: 5px;
  gap: 60px;
}
#myNavbar .navbarUp .navbar-nav .dropdown a .money {
  background: #ef6c00 !important;
  font-size: 11px;
  font-weight: 400;
  color: #fff;
  padding: 1px 3px;
}
#myNavbar .navbarUp .navbar-nav .dropdown .usd {
  font-weight: 700;
  color: #c3c3c3;
  font-size: 14px;
}
#myNavbar .navbarUp .navbar-nav .dropdown .dropdown-menu {
  width: 221px;
  border-top: 4px solid #c3c3c3 !important;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
}
#myNavbar .navbarUp .navbar-nav .dropdown .dropdown-menu .flag {
  width: 18px;
}
#myNavbar .navbarUp .navbar-nav .dropdown .language {
  font-weight: 500;
  color: #c3c3c3;
  font-size: 14px;
  transition: 0.4s;
}
#myNavbar .navbarUp .navbar-nav .dropdown .language .flag {
  width: 18px;
}
#myNavbar .navbarUp .nav-left {
  margin-right: 7px;
}
#myNavbar .navbarUp .nav-left .left {
  display: flex;
  gap: 12px;
}
#myNavbar .navbarUp .nav-left .left a {
  font-weight: 600;
  font-size: 14px;
  color: #c3c3c3;
  display: flex;
  transition: all 0.5s;
}
#myNavbar .navbarUp .nav-left .left a :hover {
  color: gray;
}
#myNavbar .navbarUp .nav-left .left i {
  margin-right: 6px;
  font-size: 20px;
  margin-top: 2px;
}
#myNavbar .navbarUp .nav-left .left .acount {
  width: 160px;
}
#myNavbar .navDown {
  width: 100%;
  height: 90px;
  background-color: #ef6c00;
}
#myNavbar .navDown .container {
  max-width: 100% !important;
}
#myNavbar .navDown .logo {
  margin-left: 41px;
  margin-top: 23px;
}
#myNavbar .navDown .search {
  margin-top: 25px;
  margin-left: 42px;
}
#myNavbar .navDown .search input {
  margin-top: 20px;
  width: 80%;
  margin: 0 auto;
  padding: 15px 20px;
  border-radius: 3px 0px 0 3px;
  border: 1px #fff;
  height: 40px;
  float: left;
  outline: none;
}
#myNavbar .navDown .search button {
  border-radius: 0 3px 3px 0;
  height: 40px;
  text-transform: uppercase;
  width: 120px;
  background-color: #222;
}
#myNavbar .navDown .text-basket {
  gap: 12px;
  display: flex;
  align-items: center;
  line-height: 1;
  font-family: sans-serif;
  margin-left: 60px;
  margin-top: 26px;
}
#myNavbar .navDown .text-basket .icon-phone i {
  color: white;
  font-size: 29px;
  width: 29px;
  height: 28px;
}
#myNavbar .navDown .text-basket .info-text p {
  font-weight: bolder;
  color: white;
  font-size: 12px;
  margin-bottom: 7px;
}
#myNavbar .navDown .text-basket .info-text span {
  font-family: system-ui;
  font-size: 20px;
  font-weight: 600;
  color: white;
}
#myNavbar .navDown .text-basket .basket {
  display: flex;
  margin-left: 25px;
  margin-bottom: 13px;
}
#myNavbar .navDown .text-basket .basket .button-icon {
  background-color: #ef6c00;
  border: none;
}
#myNavbar .navDown .text-basket .basket .icon-cart {
  position: absolute;
}
#myNavbar .navDown .text-basket .basket .icon-cart i {
  color: white;
  font-size: 22px;
}
#myNavbar .navDown .text-basket .basket .count-price {
  position: relative;
  bottom: 9px;
  left: 20px;
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
}
#myNavbar .navDown .text-basket .basket .count-price span {
  font-size: 12px;
  position: relative;
  bottom: 5px;
  right: 1px;
}
#myNavbar .navDown .text-basket .basket .count-price .price-class {
  left: 9px;
  position: relative;
  bottom: 4px;
}
#myNavbar .navDown .text-basket .basket .count-price .price-class span {
  font-weight: 600;
  font-size: 15px;
}
#myNavbar .secondNav {
  background-color: #f3f3f3;
}
#myNavbar .secondNav .container {
  max-width: 95% !important;
}
#myNavbar .secondNav .nvbar {
  background-color: #f3f3f3 !important;
}
#myNavbar .secondNav .nvbar .navbar-nav {
  display: flex;
  gap: 70px;
}
#myNavbar .secondNav .nvbar .nav-item a {
  color: black;
  font-size: 15px;
  font-weight: 600;
}
#myNavbar .about-navbar {
  width: 100%;
  height: 60px;
  border: 1px solid #f3f3f3;
}
#myNavbar .about-navbar .container {
  max-width: 100% !important;
}
#myNavbar .about-navbar .container .navAbout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
}
#myNavbar .about-navbar .container .navAbout .left h4 {
  text-transform: uppercase;
  font-size: 14px;
}
#myNavbar .about-navbar .container .navAbout .right {
  display: flex;
}
#myNavbar .about-navbar .container .navAbout .right a {
  color: #222;
  text-decoration: none;
}
#myNavbar .about-navbar .container .navAbout .right h4 {
  text-transform: uppercase;
  font-size: 14px;
}

#product .container {
  max-width: 1300px;
}
#product .container .info-bar {
  width: 100%;
  height: 425px;
  padding: 6px;
}
#product .container .info-bar .bonuss-all {
  height: 419px;
  line-height: 22px;
  border: 1px solid rgba(151, 151, 151, 0.562);
}
#product .container .info-bar .bonuss-all i {
  font-size: 35px;
  margin-top: 40%;
  margin-left: 20%;
}
#product .container .info-bar .bonuss-all p {
  font-weight: 500;
  position: relative;
  top: 18%;
}
#product .container .info-bar .bonuss-all span {
  font-size: 15px;
  color: #777;
}
#product .container .info-bar .bonuss-all .bonus {
  height: 125px;
  border-bottom: 1px solid rgba(129, 129, 129, 0.63);
}
#product .container .info-bar .bonuss-all .bonus .main-text {
  width: 60%;
}
#product .container .info-bar .bonuss-all .shipping {
  height: 100px;
  border-bottom: 1px solid rgba(129, 129, 129, 0.63);
}
#product .container .info-bar .bonuss-all .moneyback {
  height: 120px;
  border-bottom: 1px solid rgba(129, 129, 129, 0.63);
}
#product .container .info-bar .bonuss-all .online-support {
  height: 73px;
}
#product .container .product-image {
  margin-top: 35px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#product .container .small-carousel {
  margin-top: 8px;
}
#product .container .small-carousel .slider {
  position: relative;
}
#product .container .small-carousel .slider__container {
  gap: 10px;
  height: 195px;
  cursor: grab;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}
#product .container .small-carousel .slider__container::-webkit-scrollbar {
  display: none;
}
#product .container .small-carousel .slider__container.dragging {
  scroll-behavior: auto;
  cursor: grabbing;
}
#product .container .small-carousel .slider__item {
  padding: 6px;
  border: 1px solid rgba(128, 128, 128, 0.3490196078);
  height: 176px !important;
  margin-top: 7px;
  margin-left: 3px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  flex: 0 0 auto;
  width: 31% !important;
}
#product .container .small-carousel .slider__item img {
  padding: 12px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#product .container .small-carousel .slider__container[data-step="4"] .slider__item {
  width: 25%;
}
#product .container .small-carousel .slider__container[data-step="3"] .slider__item {
  width: 33.3333333333%;
}
#product .container .small-carousel .slider__container[data-step="2"] .slider__item {
  width: 50%;
}
#product .container .small-carousel .slider__container[data-step="1"] .slider__item {
  width: 100%;
}
#product .container .small-carousel .slider__control {
  font-size: 16px;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #000;
  background: #fff;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s;
}
#product .container .small-carousel .slider__control:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}
#product .container .small-carousel .slider__control.prev {
  left: 16px;
}
#product .container .small-carousel .slider__control.next {
  right: 16px;
}
@media screen and (max-width: 1024px) {
  #product .container .small-carousel .slider__item {
    width: 33.3333333333%;
  }
  #product .container .small-carousel .slider__container[data-step="4"] .slider__item {
    width: 33.3333333333%;
  }
}
@media screen and (max-width: 768px) {
  #product .container .small-carousel .slider__item {
    width: 50%;
  }
  #product .container .small-carousel .slider__container[data-step="4"] .slider__item {
    width: 50%;
  }
  #product .container .small-carousel .slider__container[data-step="3"] .slider__item {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  #product .container .small-carousel .slider__item {
    width: 100%;
  }
  #product .container .small-carousel .slider__container[data-step="4"] .slider__item {
    width: 100%;
  }
  #product .container .small-carousel .slider__container[data-step="3"] .slider__item {
    width: 100%;
  }
  #product .container .small-carousel .slider__container[data-step="2"] .slider__item {
    width: 100%;
  }
}
#product .container .product-right {
  margin-top: 35px;
}
#product .container .product-right .product-title h2 {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  display: inline-block;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 0.02em;
}
#product .container .product-right .price {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 600;
}
#product .container .product-right .price del {
  color: #777;
  font-size: 17px;
}
#product .container .product-right .price span {
  font-weight: 500;
  line-height: 1;
  text-transform: capitalize;
  padding-left: 5px;
  color: #f33927;
  font-size: 26px;
}
#product .container .product-right .real-price {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin: 10px 0;
}
#product .container .product-right .text-product {
  color: #777 !important;
  font-size: 16px;
  padding-right: 2px;
  border-bottom: 1px dashed gray;
  width: 468pz;
}
#product .container .product-right .text-product p {
  padding-right: 60px;
  margin-bottom: 30px;
  line-height: 24px;
}
#product .container .product-right .prdct-stock {
  margin-top: 20px;
  color: gray;
  line-height: 0.5;
  font-size: 14px;
}
#product .container .product-right .prdct-stock span {
  cursor: pointer;
}
#product .container .product-right .prdct-stock .number {
  margin: 0;
}
#product .container .product-right .prdct-stock .minus,
#product .container .product-right .prdct-stock .plus {
  width: 20px;
  height: 25px;
  font-size: 35px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
#product .container .product-right .prdct-stock input {
  height: 34px;
  width: 50px;
  text-align: center;
  font-size: 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}
#product .container .product-right .add-buttons {
  margin-top: 40px;
}
#product .container .product-right .add-buttons .click-btn .bynw {
  width: 115px;
  margin-left: 10px;
}
#product .container .product-right .add-buttons .click-btn button {
  border: none;
  background-color: #ef6c00;
  width: 160px;
  font-size: 14px;
  height: 50px;
  font-weight: 700;
  color: white;
}
#product .container .sale-banner {
  margin-top: 65px;
  background-color: #ef6c00;
}
#product .container .sale-banner .sale-widget {
  text-align: center;
  padding: 15px;
  font-family: "Roboto", sans-serif;
}
#product .container .sale-banner h3 {
  font-size: 45px;
  color: white;
  font-weight: 500;
}
#product .container .sale-banner h5 {
  color: white;
  font-weight: 600;
}
#product .container .sale-banner .nmbr {
  margin-left: 70px;
  display: inline-block;
  bottom: 30px;
  position: relative;
  color: #2d2a25;
  font-size: 80px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
#product .container .sale-banner .percent {
  bottom: 50px;
  position: relative;
  display: inline-block;
  right: 7px;
}
#product .container .sale-banner .percent span:first-child {
  font-size: 60px;
  color: white;
  font-weight: 500;
}
#product .container .sale-banner .percent span:last-child {
  position: relative;
  right: 57px;
  top: 21px;
  font-size: 25px;
  color: white;
}
#product .container .sale-banner p {
  color: #fff;
  line-height: 24px;
  font-weight: 300;
  font-size: 15px;
  margin-top: -40px;
  font-family: sans-serif;
  padding: 0 40px;
}

#main-widget .container {
  max-width: 1300px;
}
#main-widget .container .description {
  padding: 10px 30px;
  width: 74%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#main-widget .container .description .nav-tabs {
  width: 100%;
  border-bottom: 1px solid rgba(187, 182, 182, 0.7019607843);
  --bs-nav-tabs-border-width: none;
}
#main-widget .container .description .nav-tabs .nav-item {
  width: 130px;
  width: 200px;
  transition: all 1s;
}
#main-widget .container .description .nav-tabs .nav-item :hover {
  border-bottom: 3px solid orange;
}
#main-widget .container .description .nav-tabs .nav-item button {
  font-size: 14px;
  padding: 18px 60px 13px 41px;
  font-weight: 600;
  color: gray;
}
#main-widget .container .description .tab-content .tab-pane {
  color: gray;
  margin-top: 20px;
  padding: 15px 15px;
}
#main-widget .container .description .tab-content .tab-pane .user-info-comment {
  display: flex;
  gap: 30px;
}
#main-widget .container .description .tab-content .tab-pane .user-info-comment .avatar img {
  margin-top: 31px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#main-widget .container .description .tab-content .tab-pane .user-info-comment .name-comment {
  line-height: 0.9;
  margin-top: 20px;
}
#main-widget .container .description .tab-content .tab-pane .user-info-comment .name-comment p {
  font-size: 12px;
}
#main-widget .container .description .tab-content .tab-pane .user-info-comment .name-comment p:first-child {
  font-size: 14px;
  color: #2c2b2b;
  font-weight: 500;
}
#main-widget .container .description .tab-content .tab-pane .user-info-comment .name-comment span {
  color: #2c2b2b;
  font-size: 14px;
  max-width: 37%;
  font-weight: 500;
}
#main-widget .container .description .tab-content .tab-pane .comment-post {
  margin-top: 55px;
}
#main-widget .container .description .tab-content .tab-pane .comment-post .divider {
  height: 1px;
  width: 100%;
  background-color: #000;
}
#main-widget .container .description .tab-content .tab-pane .comment-post p {
  font-family: sans-serif;
  font-size: 16px;
}
#main-widget .container .description .tab-content .tab-pane .comment-post span {
  color: #000;
  font-weight: 500;
}
#main-widget .container .description .tab-content .tab-pane .comment-post button {
  font-size: 20px;
  border: none;
  background: white;
}

#footer {
  width: 100%;
  background-color: #f7f7f7;
}
#footer .container {
  max-width: 100% !important;
}
#footer .frst-box {
  padding: 48px 27px;
  height: 350px;
}
#footer .frst-box p {
  font-size: 16px;
  font-weight: 400;
}
#footer .frst-box a {
  color: #000;
  text-decoration: none;
}
#footer .frst-box a p {
  line-height: 0.5;
}
#footer .scnd-box {
  height: 350px;
  padding: 48px 27px;
}
#footer .scnd-box .info {
  font-size: 14px;
  margin-left: -31px;
}
#footer .scnd-box .info li {
  list-style: none;
}
#footer .scnd-box .info li a {
  color: #000;
  text-decoration: none;
}
#footer .scnd-box li {
  list-style: none;
}
#footer .scnd-box li a {
  text-decoration: none;
}
#footer .third-box {
  padding: 48px 27px;
  height: 350px;
}
#footer .third-box input {
  width: 270px;
  height: 45px;
  border-radius: 3px;
  padding: 0 40px 0 18px;
  border: 1px solid #e2e2e2;
}
#footer .third-box button {
  height: 45px;
  color: white;
  width: 100%;
  margin-top: 45px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 3px;
  background-color: #ef6c00;
}
#footer .fourth-box {
  padding: 48px 21px;
  height: 350px;
}
#footer .fourth-box .sosial-tags {
  margin-top: 35px;
  display: flex;
  gap: 10px;
}
#footer .fourth-box .sosial-tags ul {
  width: 35px;
  padding: 4px 10px;
  height: 35px;
  border: 1px solid;
  border-radius: 50%;
}
#footer .fourth-box .sosial-tags li {
  list-style: none;
}
#footer .fourth-box .sosial-tags li a {
  color: #000;
  text-decoration: none;
}/*# sourceMappingURL=product.css.map */