#myNavbar {



    .navbarUp {
        background: #222 !important;
        height: 64px;

        .navbar-nav {

            .dropdown {
                display: flex;
                margin-left: 22px;
                padding: 5px;
                gap: 60px;

                a {

                    .money {
                        background: #ef6c00 !important;
                        font-size: 11px;
                        font-weight: 400;
                        color: #fff;
                        padding: 1px 3px;

                    }
                }


                .usd {
                    font-weight: 700;
                    color: #c3c3c3;
                    font-size: 14px;
                }

                .dropdown-menu {
                    width: 221px;
                    border-top: 4px solid #c3c3c3 !important;
                    font-family: Roboto, Helvetica Neue, sans-serif;
                    font-size: 14px;

                    .flag {
                        width: 18px;
                    }


                }

                .language {
                    font-weight: 500;
                    color: #c3c3c3;
                    font-size: 14px;
                    transition: .4s;


                    .flag {
                        width: 18px;

                    }


                }



            }
        }

        .nav-left {
            margin-right: 7px;

            .left {
                display: flex;
                gap: 12px;



                a {
                    font-weight: 600;

                    font-size: 14px;
                    color: #c3c3c3;
                    display: flex;
                    transition: all 0.5s;

                    :hover {
                        color: gray;
                    }
                }

                i {
                    margin-right: 6px;
                    font-size: 20px;
                    margin-top: 2px;

                }


                .acount {
                    width: 160px;
                }
            }
        }
    }

    .navDown {
        width: 100%;
        height: 90px;
        background-color: #ef6c00;

        .container {
            max-width: 100% !important;


        }

        .logo {
            margin-left: 41px;
            margin-top: 23px;

        }

        .search {

            margin-top: 25px;
            margin-left: 42px;


            input {
                margin-top: 20px;
                width: 80%;
                margin: 0 auto;
                padding: 15px 20px;
                border-radius: 3px 0px 0 3px;
                ;
                border: 1px #fff;
                height: 40px;
                float: left;
                outline: none;

            }

            button {
                border-radius: 0 3px 3px 0;
                height: 40px;
                text-transform: uppercase;
                width: 120px;
                background-color: #222;
            }

        }


        .text-basket {
            gap: 12px;
            display: flex;
            align-items: center;
            line-height: 1;
            font-family: sans-serif;
            margin-left: 60px;
            margin-top: 26px;

            .icon-phone {
                i {
                    color: white;
                    font-size: 29px;
                    width: 29px;
                    height: 28px;
                }
            }

            .info-text {


                p {
                    font-weight: bolder;
                    color: white;
                    font-size: 12px;
                    margin-bottom: 7px;
                }

                span {
                    font-family: system-ui;
                    font-size: 20px;
                    font-weight: 600;
                    color: white;
                }
            }


            .basket {
                display: flex;
                margin-left: 25px;
                margin-bottom: 13px;




                .icon-cart {
                    position: absolute;

                    i {
                        color: white;
                        font-size: 22px;
                    }

                }

                .count-price {
                    position: relative;
                    bottom: 9px;

                    left: 20px;
                    width: 15px;
                    height: 15px;
                    background-color: black;
                    border-radius: 50%;

                    span {
                        font-size: 14px;
                        position: relative;
                        bottom: 1px;
                        color: white;
                        right: -3px;
                    }

                    .price-class {
                        left: 9px;
                        position: relative;
                        bottom: 4px;
                        color: white;
                        top: 7px;

                        span {
                            font-family: 'Roboto', sans-serif;
                            font-weight: 600;
                            font-size: 18px;
                        }
                    }


                }
            }


        }
    }


    .secondNav {
        background-color: #f3f3f3;

        .container {
            max-width: 95% !important;
        }

        .nvbar {
            background-color: #f3f3f3 !important;

            .navbar-nav {

                display: flex;
                gap: 70px;
            }

            .nav-item {

                a {
                    color: black;
                    font-size: 15px;
                    font-weight: 600;
                }
            }




        }

    }

    .down-navbar{
        width: 100%;
        height: 60px;
        border: 1px solid #f3f3f3;
        .container {
            max-width: 100% !important;
            .navHome{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px 15px;
                .left {
                    h4 {
                        text-transform: uppercase;
                        font-size: 14px;
                    }
                }
                .right {
                    display: flex;
                    a {
                        color: #222;
                        text-decoration: none;
                    }
                    h4 {
                        text-transform: uppercase;
                        font-size: 14px;
                    }
                }
            }
        }
    }




}


#product {

    .container {
        max-width: 1300px;

        .info-bar {
            width: 100%;
            height: 425px;
            padding: 6px;

            .bonuss-all {
                height: 419px;

                line-height: 22px;
                border: 1px solid rgba(151, 151, 151, 0.562);

                i {
                    font-size: 35px;
                    margin-top: 40%;
                    margin-left: 20%;
                }

                p {
                    font-weight: 500;
                    position: relative;
                    top: 18%;

                }

                span {
                    font-size: 15px;
                    color: #777;

                }

                .bonus {

                    height: 125px;
                    border-bottom: 1px solid rgba(129, 129, 129, 0.63);

                    .main-text {
                        width: 60%;
                    }
                }

                .shipping {
                    height: 100px;
                    border-bottom: 1px solid rgba(129, 129, 129, 0.63);
                }

                .moneyback {
                    height: 120px;
                    border-bottom: 1px solid rgba(129, 129, 129, 0.63);
                }

                .online-support {
                    height: 73px;
                }
            }


        }

        .product-image {
            margin-top: 35px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;


        }

        .small-carousel {
            margin-top: 8px;

            $color_1: #000;

            .slider {
                position: relative;
            }

            .slider__container {
                gap: 10px;
                height: 195px;


                cursor: grab;
                display: flex;
                overflow: hidden;
                scroll-behavior: smooth;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            .slider__container.dragging {
                scroll-behavior: auto;
                cursor: grabbing;
            }

            .slider__item {
                padding: 6px;
                border: 1px solid #80808059;
                height: 176px !important;
                margin-top: 7px;
                margin-left: 3px;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
                flex: 0 0 auto;
                width: 31% !important;

                img {
                    padding: 12px;
                    -webkit-user-drag: none;
                    -khtml-user-drag: none;
                    -moz-user-drag: none;
                    -o-user-drag: none;
                    user-select: none;
                }
            }

            .slider__container[data-step="4"] {
                .slider__item {
                    width: calc(100% / 4);
                }
            }

            .slider__container[data-step="3"] {
                .slider__item {
                    width: calc(100% / 3);
                }
            }

            .slider__container[data-step="2"] {
                .slider__item {
                    width: calc(100% / 2);
                }
            }

            .slider__container[data-step="1"] {
                .slider__item {
                    width: calc(100% / 1);
                }
            }

            .slider__control {
                font-size: 16px;
                border: none;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 10;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                color: $color_1;
                background: #fff;
                cursor: pointer;
                opacity: .5;
                transition: all .3s;

                &:hover {
                    opacity: 1;
                    transform: translateY(-50%) scale(1.2);
                }
            }

            .slider__control.prev {
                left: 16px;
            }

            .slider__control.next {
                right: 16px;
            }

            @media screen and (max-width: 1024px) {
                .slider__item {
                    width: calc(100% / 3);
                }

                .slider__container[data-step="4"] {
                    .slider__item {
                        width: calc(100% / 3);
                    }
                }
            }

            @media screen and (max-width: 768px) {
                .slider__item {
                    width: calc(100% / 2);
                }

                .slider__container[data-step="4"] {
                    .slider__item {
                        width: calc(100% / 2);
                    }
                }

                .slider__container[data-step="3"] {
                    .slider__item {
                        width: calc(100% / 2);
                    }
                }
            }

            @media screen and (max-width: 480px) {
                .slider__item {
                    width: calc(100% / 1);
                }

                .slider__container[data-step="4"] {
                    .slider__item {
                        width: calc(100% / 1);
                    }
                }

                .slider__container[data-step="3"] {
                    .slider__item {
                        width: calc(100% / 1);
                    }
                }

                .slider__container[data-step="2"] {
                    .slider__item {
                        width: calc(100% / 1);
                    }
                }
            }

        }

        .product-right {
            margin-top: 35px;


            .product-title {

                h2 {
                    font-family: Roboto, Arial, Helvetica, sans-serif;
                    display: inline-block;
                    font-size: 34px;
                    font-weight: 600;
                    letter-spacing: 0.02em;

                }
            }

            .price {

                font-family: Roboto, Arial, Helvetica, sans-serif;
                font-weight: 600;

                del {
                    color: #777;
                    font-size: 17px;
                }

                span {
                    font-weight: 500;
                    line-height: 1;
                    text-transform: capitalize;
                    padding-left: 5px;
                    color: #f33927;
                    font-size: 26px;
                }
            }

            .real-price {
                font-family: Roboto, Arial, Helvetica, sans-serif;
                font-size: 30px;
                font-weight: 400;
                margin: 10px 0;
            }

            .text-product {
                color: #777 !important;
                font-size: 16px;
                padding-right: 2px;
                border-bottom: 1px dashed gray;
                width: 468pz;

                p {
                    padding-right: 60px;
                    margin-bottom: 30px;
                    line-height: 24px;
                }
            }

            .prdct-stock {
                margin-top: 20px;
                color: gray;
                line-height: 0.5;
                font-size: 14px;

                span {
                    cursor: pointer;
                }

                .number {
                    margin: 0;
                }

                .minus,
                .plus {
                    width: 20px;
                    height: 25px;
                    font-size: 35px;
                    display: inline-block;
                    vertical-align: middle;
                    text-align: center;
                }

                input {
                    height: 34px;
                    width: 50px;
                    text-align: center;
                    font-size: 17px;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    display: inline-block;
                    vertical-align: middle;

                }
            }

            .add-buttons {

                margin-top: 40px;


                .click-btn {

                    .bynw {
                        width: 115px;
                        margin-left: 10px;

                    }


                    button {
                        border: none;
                        background-color: #ef6c00;
                        width: 160px;
                        font-size: 14px;
                        height: 50px;
                        font-weight: 700;
                        color: white;
                    }
                }
            }
        }

        .sale-banner {
            margin-top: 65px;
            background-color: #ef6c00;

            .sale-widget {
                text-align: center;
                padding: 15px;
                font-family: 'Roboto', sans-serif;
            }


            h3 {
                font-size: 45px;
                color: white;
                font-weight: 500;
            }

            h5 {
                color: white;
                font-weight: 600;
            }

            .nmbr {
                margin-left: 70px;

                display: inline-block;

                bottom: 30px;
                position: relative;
                color: #2d2a25;
                font-size: 80px;
                font-weight: 600;
                font-family: 'Roboto', sans-serif;
            }

            .percent {
                bottom: 50px;
                position: relative;
                display: inline-block;
                right: 7px;


                span {

                    &:first-child {
                        font-size: 60px;
                        color: white;
                        font-weight: 500;

                    }

                    &:last-child {
                        position: relative;
                        right: 57px;
                        top: 21px;
                        font-size: 25px;
                        color: white;
                    }

                }
            }

            p {
                color: #fff;
                line-height: 24px;
                font-weight: 300;
                font-size: 15px;
                margin-top: -40px;
                font-family: sans-serif;
                padding: 0 40px;

            }

        }

    }
}

#main-widget {

    .container {
        max-width: 1300px;

        .description {
            padding: 10px 30px;
            width: 74%;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

            .nav-tabs {
                width: 100%;

                border-bottom: 1px solid rgba(187, 182, 182, 0.7019607843);
                --bs-nav-tabs-border-width: none;

                .nav-item {
                    width: 130px;
                    width: 200px;
                    transition: all 1s;

                    :hover {
                        border-bottom: 3px solid orange;
                    }

                    button {
                        font-size: 14px;
                        padding: 18px 60px 13px 41px;
                        font-weight: 600;
                        color: gray;
                    }


                }
            }

            .tab-content {

                .tab-pane {
                    color: gray;
                    margin-top: 20px;
                    padding: 15px 15px;

                    .user-info-comment {
                        display: flex;
                        gap: 30px;

                        .avatar {

                            img {
                                margin-top: 31px;
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                            }
                        }

                        .name-comment {
                            line-height: 0.9;
                            margin-top: 20px;


                            p {
                                &:first-child {
                                    font-size: 14px;
                                    color: #2c2b2b;
                                    font-weight: 500;
                                }

                                font-size: 12px;
                            }

                            span {
                                color: #2c2b2b;
                                font-size: 14px;
                                max-width: 37%;
                                font-weight: 500;
                            }


                        }
                    }

                    .comment-post {
                        margin-top: 55px;

                        h3 {
                            color: #000;
                        }

                        .divider {
                            height: 1px;
                            width: 100%;
                            background-color: #000;
                        }

                        p {
                            font-family: sans-serif;
                            font-size: 16px;
                        }

                        span {
                            color: #000;
                            font-weight: 500;
                        }

                        button {
                            font-size: 20px;
                            border: none;
                            background: white;
                        }

                    }

                    .form-comment {

                        .form {

                            .inputs-flex {
                                display: flex;
                                gap: 40px;
                            }

                            margin-bottom: -20px;
                            margin-top: 60px;

                            .sbjct {
                                width: 100% !important;
                            }

                            .group {
                                width: 50%;

                                position: relative;
                                margin-bottom: 45px;
                            }

                            input,
                            textarea {
                                font-size: 15px;
                                padding: 10px 10px 10px 5px;
                                display: block;
                                width: 100%;
                                border: none;
                                border-bottom: 1px solid #777;
                                outline: none;


                                &:focus~label,
                                &:valid~label {
                                    top: -8px;
                                    font-size: 10px;
                                }

                                &:focus~.bar::before,
                                &:focus~.bar::after {
                                    width: 50%;
                                }

                            }

                            input:focus {
                                outline: none;
                            }

                            /* LABEL ======================================= */
                            .textarea {
                                width: 100% !important;
                                height: 110px;
                                padding: 10px 0 0 5px;
                                resize: none;
                            }

                            label {
                                color: #999;
                                font-size: 14px;
                                position: absolute;
                                pointer-events: none;
                                left: 5px;
                                top: 10px;
                                transition: 0.4s ease all;
                                -moz-transition: 0.2s ease all;
                                -webkit-transition: 0.2s ease all;
                            }

                            /* active state */
                            input:focus~label,
                            input:valid~label {
                                top: -20px;
                                font-size: 14px;
                                color: #ef6c00;
                            }

                            textarea:focus~label,
                            textarea:valid~label {
                                top: -20px;
                                font-size: 14px;
                                color: #ef6c00;
                            }

                            /* BOTTOM BARS ================================= */
                            .bar {
                                position: relative;
                                display: block;
                                width: 100%;
                            }

                            .bar:before,
                            .bar:after {
                                content: '';
                                height: 2px;
                                width: 0;
                                bottom: 0;
                                position: absolute;
                                background: #ef6c00;
                                transition: 0.2s ease all;
                                -moz-transition: 0.2s ease all;
                                -webkit-transition: 0.2s ease all;
                            }

                            .bar:before {
                                left: 50%;
                            }

                            .bar:after {
                                right: 50%;
                            }

                            /* active state */
                            input:focus~.bar:before,
                            input:focus~.bar:after {
                                width: 50%;
                            }

                            /* HIGHLIGHTER ================================== */
                            .highlight {
                                position: absolute;
                                height: 60%;
                                width: 100px;
                                top: 25%;
                                left: 0;
                                pointer-events: none;
                                opacity: 0.5;
                            }

                            /* active state */
                            input:focus~.highlight {
                                -webkit-animation: inputHighlighter 0.3s ease;
                                -moz-animation: inputHighlighter 0.3s ease;
                                animation: inputHighlighter 0.3s ease;
                            }

                            /* ANIMATIONS ================ */
                            @-webkit-keyframes inputHighlighter {
                                from {
                                    background: white;
                                }

                                to {
                                    width: 0;
                                    background: transparent;
                                }
                            }

                            @-moz-keyframes inputHighlighter {
                                from {
                                    background: white;
                                }

                                to {
                                    width: 0;
                                    background: transparent;
                                }
                            }

                            @keyframes inputHighlighter {
                                from {
                                    background: white;
                                }

                                to {
                                    width: 0;
                                    background: transparent;
                                }
                            }
                        }


                        .click-btn {
                            margin-bottom: 30px;

                            button {
                                border: none;
                                background-color: #ff4081;
                                width: 160px;
                                font-size: 14px;
                                height: 50px;
                                font-weight: 700;
                                color: white;
                            }
                        }
                    }


                }
            }


        }
    }
}

#carousel-prdct {
    width: 70%;

    margin-top: 35px;

    .container {
        max-width: 1300px;

        .title {}

        .product-caruosel {

            .slider {
                position: relative;
            }

            .slider__container {
                cursor: grab;
                display: flex;
                overflow: hidden;
                scroll-behavior: smooth;
            }

            .slider__container.dragging {
                scroll-behavior: auto;
                cursor: grabbing;
            }

            .slider__container::-webkit-scrollbar {
                display: none;
            }

            .slider__item {

                padding: 16px 8px;
                flex: 0 0 auto;
                width: calc(100% / 5);
            }

            .slider__container[data-step="4"] .slider__item {
                width: calc(100% / 4);
            }

            .slider__container[data-step="3"] .slider__item {
                width: calc(100% / 3);
            }

            .slider__container[data-step="2"] .slider__item {
                width: calc(100% / 2);
            }

            .slider__container[data-step="1"] .slider__item {
                width: calc(100% / 1);
            }

            @media screen and (max-width: 1024px) {

                .slider__item,
                .slider__container[data-step="4"] .slider__item {
                    width: calc(100% / 3);
                }
            }

            @media screen and (max-width: 768px) {

                .slider__item,
                .slider__container[data-step="4"] .slider__item,
                .slider__container[data-step="3"] .slider__item {
                    width: calc(100% / 2);
                }
            }

            @media screen and (max-width: 480px) {

                .slider__item,
                .slider__container[data-step="4"] .slider__item,
                .slider__container[data-step="3"] .slider__item,
                .slider__container[data-step="2"] .slider__item {
                    width: calc(100% / 1);
                }
            }

            .slider__control {
                font-size: 16px;
                border: none;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 10;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                color: white;
                cursor: pointer;
                opacity: 1.5;
                transition: all .3s;
            }

            .slider__control.prev {
                background-color: #ef6c00;
                left: 16px;
            }

            .slider__control.next {
                background-color: #ef6c00;
                right: 16px;
            }

            .slider__control:hover {
                opacity: 1;
                transform: translateY(-50%) scale(1.2);
            }

            .slider__item img {
                -webkit-user-drag: none;
                -khtml-user-drag: none;
                -moz-user-drag: none;
                -o-user-drag: none;
                user-select: none;
            }

            .card {
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;


                a {
                    text-decoration: none;
                    .header-icon {
                        right: 15px;
                        top: 57px;
                        flex-direction: column;
                        position: absolute;
                        font-size: 20px;
                        display: flex;
                        gap: 13px;
                        text-decoration: none;
                        text-decoration: none;
                        color: black;
                        

                        .rtt{
                            margin-left: 2px;
                            
 

                        }
                    }
                }

                img {
                    padding: 20px;
                    background-color: #f5f5f5;

                }

                .card-body {
                    height: 125px;

                    :hover {
                        a {
                            background-color: #eee;
                        }
                    }

                    p {
                        color: gray;
                        font-size: 13px;
                        line-height: 0;
                    }

                    .card-title {
                        line-height: 0;
                    }

                    .money-icons {
                        align-items: center;
                        justify-content: center;

                        line-height: 2;

                        .icon-star {
                            color: orange;
                            font-size: 14px;
                        }

                        .money {


                            span {
                                font-size: 20px;
                                font-weight: 400;
                            }
                        }
                    }


                    a {
                        :hover {
                            background-color: #333 !important;

                        }
                    }

                    .mybtn {
                        bottom: 40px;
                        position: relative;
                        left: 145px;
                        border: none;
                        background-color: #ef6c00;
                        width: 43px;
                        border-radius: 50%;
                        height: 40px;
                        padding-top: 8px;
                        transition: all 0.5s;
                    }
                }
            }
        }

    }
}



#footer-one {


    width: 100%;
    background-color: #f7f7f7;

    .container {
        max-width: 100% !important;

    }


    .frst-box {
        padding: 48px 27px;
        height: 350px;

        p {
            font-size: 16px;
            font-weight: 400;
        }

        a {
            color: #000;
            text-decoration: none;

            p {
                line-height: 0.5;
            }
        }
    }


    .scnd-box {
        height: 350px;
        padding: 48px 27px;

        .info {
            font-size: 14px;
            margin-left: -31px;

            li {
                list-style: none;

                a {
                    color: #000;
                    text-decoration: none;
                }
            }


        }



        li {
            list-style: none;

            a {
                text-decoration: none;
            }
        }
    }

    .third-box {
        padding: 48px 27px;
        height: 350px;

        input {
            width: 270px;
            height: 45px;
            border-radius: 3px;
            padding: 0 40px 0 18px;
            border: 1px solid #e2e2e2;
        }

        button {
            height: 45px;
            color: white;
            width: 100%;
            margin-top: 45px;
            font-size: 16px;
            font-weight: 700;
            border-radius: 3px;
            background-color: #ef6c00;

        }

    }

    .fourth-box {
        padding: 48px 21px;
        height: 350px;

        .sosial-tags {
            margin-top: 35px;
            display: flex;
            gap: 10px;

            ul {
                width: 35px;
                padding: 4px 10px;
                height: 35px;
                border: 1px solid;
                border-radius: 50%;
            }

            li {
                list-style: none;

                a {
                    color: #000;
                    text-decoration: none;
                }
            }

        }

    }

}