#myNavbar .navbarUp {
  background: #222 !important;
  height: 64px;
}
#myNavbar .navbarUp .navbar-nav .dropdown {
  display: flex;
  margin-left: 22px;
  padding: 5px;
  gap: 60px;
}
#myNavbar .navbarUp .navbar-nav .dropdown a .money {
  background: #ef6c00 !important;
  font-size: 11px;
  font-weight: 400;
  color: #fff;
  padding: 1px 3px;
}
#myNavbar .navbarUp .navbar-nav .dropdown .usd {
  font-weight: 700;
  color: #c3c3c3;
  font-size: 14px;
}
#myNavbar .navbarUp .navbar-nav .dropdown .dropdown-menu {
  width: 221px;
  border-top: 4px solid #c3c3c3 !important;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
}
#myNavbar .navbarUp .navbar-nav .dropdown .dropdown-menu .flag {
  width: 18px;
}
#myNavbar .navbarUp .navbar-nav .dropdown .language {
  font-weight: 500;
  color: #c3c3c3;
  font-size: 14px;
  transition: 0.4s;
}
#myNavbar .navbarUp .navbar-nav .dropdown .language .flag {
  width: 18px;
}
#myNavbar .navbarUp .nav-left {
  margin-right: 7px;
}
#myNavbar .navbarUp .nav-left .left {
  display: flex;
  gap: 12px;
}
#myNavbar .navbarUp .nav-left .left a {
  font-weight: 600;
  font-size: 14px;
  color: #c3c3c3;
  display: flex;
  transition: all 0.5s;
}
#myNavbar .navbarUp .nav-left .left a :hover {
  color: gray;
}
#myNavbar .navbarUp .nav-left .left i {
  margin-right: 6px;
  font-size: 20px;
  margin-top: 2px;
}
#myNavbar .navbarUp .nav-left .left .acount {
  width: 160px;
}
#myNavbar .navDown {
  width: 100%;
  height: 90px;
  background-color: #ef6c00;
}
#myNavbar .navDown .container {
  max-width: 100% !important;
}
#myNavbar .navDown .logo {
  margin-left: 41px;
  margin-top: 23px;
}
#myNavbar .navDown .search {
  margin-top: 25px;
  margin-left: 42px;
}
#myNavbar .navDown .search input {
  margin-top: 20px;
  width: 80%;
  margin: 0 auto;
  padding: 15px 20px;
  border-radius: 3px 0px 0 3px;
  border: 1px #fff;
  height: 40px;
  float: left;
  outline: none;
}
#myNavbar .navDown .search button {
  border-radius: 0 3px 3px 0;
  height: 40px;
  text-transform: uppercase;
  width: 120px;
  background-color: #222;
}
#myNavbar .navDown .text-basket {
  gap: 12px;
  display: flex;
  align-items: center;
  line-height: 1;
  font-family: sans-serif;
  margin-left: 60px;
  margin-top: 26px;
}
#myNavbar .navDown .text-basket .icon-phone i {
  color: white;
  font-size: 29px;
  width: 29px;
  height: 28px;
}
#myNavbar .navDown .text-basket .info-text p {
  font-weight: bolder;
  color: white;
  font-size: 12px;
  margin-bottom: 7px;
}
#myNavbar .navDown .text-basket .info-text span {
  font-family: system-ui;
  font-size: 20px;
  font-weight: 600;
  color: white;
}
#myNavbar .navDown .text-basket .basket {
  display: flex;
  margin-left: 25px;
  margin-bottom: 13px;
}
#myNavbar .navDown .text-basket .basket .icon-cart {
  position: absolute;
}
#myNavbar .navDown .text-basket .basket .icon-cart i {
  color: white;
  font-size: 22px;
}
#myNavbar .navDown .text-basket .basket .count-price {
  position: relative;
  bottom: 9px;
  left: 20px;
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
}
#myNavbar .navDown .text-basket .basket .count-price span {
  font-size: 14px;
  position: relative;
  bottom: 1px;
  color: white;
  right: -3px;
}
#myNavbar .navDown .text-basket .basket .count-price .price-class {
  left: 9px;
  position: relative;
  bottom: 4px;
  color: white;
  top: 7px;
}
#myNavbar .navDown .text-basket .basket .count-price .price-class span {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
}
#myNavbar .secondNav {
  background-color: #f3f3f3;
}
#myNavbar .secondNav .container {
  max-width: 95% !important;
}
#myNavbar .secondNav .nvbar {
  background-color: #f3f3f3 !important;
}
#myNavbar .secondNav .nvbar .navbar-nav {
  display: flex;
  gap: 70px;
}
#myNavbar .secondNav .nvbar .nav-item a {
  color: black;
  font-size: 15px;
  font-weight: 600;
}
#myNavbar .down-navbar {
  width: 100%;
  height: 60px;
  border: 1px solid #f3f3f3;
}
#myNavbar .down-navbar .container {
  max-width: 100% !important;
}
#myNavbar .down-navbar .container .navHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
}
#myNavbar .down-navbar .container .navHome .left h4 {
  text-transform: uppercase;
  font-size: 14px;
}
#myNavbar .down-navbar .container .navHome .right {
  display: flex;
}
#myNavbar .down-navbar .container .navHome .right a {
  color: #222;
  text-decoration: none;
}
#myNavbar .down-navbar .container .navHome .right h4 {
  text-transform: uppercase;
  font-size: 14px;
}

#main .container {
  max-width: 1300px;
}
#main .container .main-map {
  margin-top: 35px;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#main .container .main-map iframe {
  width: 100%;
}
#main .container .main-map .title-text {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}
#main .container .main-map .title-text .left-text {
  width: 50%;
}
#main .container .main-map .title-text .left-text .icon-text {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}
#main .container .main-map .title-text .left-text .icon-text .content {
  margin-left: 20px;
}
#main .container .main-map .title-text .left-text .icon-text i {
  font-size: 30px;
  color: #ef6c00;
}
#main .container .main-map .title-text .left-text .icon-text .text {
  line-height: 0.5;
}
#main .container .main-map .title-text .left-text .icon-text .text hr {
  width: 510px;
  margin-left: -65px;
}
#main .container .main-map .title-text .left-text .icon-text .text h4 {
  font-size: 20px;
}
#main .container .main-map .title-text .left-text .icon-text .text p {
  font-family: inherit;
  /* font-style: unset; */
  color: #777;
  font-weight: 400;
}
#main .container .main-map .title-text .right-text {
  width: 50%;
}
#main .container .main-map .title-text .right-text .title-form .form {
  margin-bottom: -20px;
  margin-top: 60px;
  /* LABEL ======================================= */
  /* active state */
  /* BOTTOM BARS ================================= */
  /* active state */
  /* HIGHLIGHTER ================================== */
  /* active state */
  /* ANIMATIONS ================ */
}
#main .container .main-map .title-text .right-text .title-form .form .group {
  position: relative;
  margin-bottom: 45px;
}
#main .container .main-map .title-text .right-text .title-form .form input,
#main .container .main-map .title-text .right-text .title-form .form textarea {
  font-size: 15px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ef6c00;
  outline: none;
}
#main .container .main-map .title-text .right-text .title-form .form input:focus ~ label, #main .container .main-map .title-text .right-text .title-form .form input:valid ~ label,
#main .container .main-map .title-text .right-text .title-form .form textarea:focus ~ label,
#main .container .main-map .title-text .right-text .title-form .form textarea:valid ~ label {
  top: -8px;
  font-size: 10px;
}
#main .container .main-map .title-text .right-text .title-form .form input:focus ~ .bar::before, #main .container .main-map .title-text .right-text .title-form .form input:focus ~ .bar::after,
#main .container .main-map .title-text .right-text .title-form .form textarea:focus ~ .bar::before,
#main .container .main-map .title-text .right-text .title-form .form textarea:focus ~ .bar::after {
  width: 50%;
}
#main .container .main-map .title-text .right-text .title-form .form input:focus {
  outline: none;
}
#main .container .main-map .title-text .right-text .title-form .form .textarea {
  height: 110px;
  padding: 10px 0 0 5px;
  resize: none;
}
#main .container .main-map .title-text .right-text .title-form .form label {
  color: #999;
  font-size: 14px;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.4s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
#main .container .main-map .title-text .right-text .title-form .form input:focus ~ label,
#main .container .main-map .title-text .right-text .title-form .form input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #ef6c00;
}
#main .container .main-map .title-text .right-text .title-form .form textarea:focus ~ label,
#main .container .main-map .title-text .right-text .title-form .form textarea:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #ef6c00;
}
#main .container .main-map .title-text .right-text .title-form .form .bar {
  position: relative;
  display: block;
  width: 100%;
}
#main .container .main-map .title-text .right-text .title-form .form .bar:before,
#main .container .main-map .title-text .right-text .title-form .form .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #ef6c00;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
#main .container .main-map .title-text .right-text .title-form .form .bar:before {
  left: 50%;
}
#main .container .main-map .title-text .right-text .title-form .form .bar:after {
  right: 50%;
}
#main .container .main-map .title-text .right-text .title-form .form input:focus ~ .bar:before,
#main .container .main-map .title-text .right-text .title-form .form input:focus ~ .bar:after {
  width: 50%;
}
#main .container .main-map .title-text .right-text .title-form .form .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
#main .container .main-map .title-text .right-text .title-form .form input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}
@keyframes inputHighlighter {
  from {
    background: white;
  }
  to {
    width: 0;
    background: transparent;
  }
}
#main .container .main-map .title-text .right-text .click-btn button {
  border: none;
  background-color: #ef6c00;
  width: 110px;
  font-size: 14px;
  height: 50px;
  font-weight: 700;
  color: white;
}

#footer {
  width: 100%;
  background-color: #f7f7f7;
}
#footer .container {
  max-width: 100% !important;
}
#footer .frst-box {
  padding: 48px 27px;
  height: 350px;
}
#footer .frst-box p {
  font-size: 16px;
  font-weight: 400;
}
#footer .frst-box a {
  color: #000;
  text-decoration: none;
}
#footer .frst-box a p {
  line-height: 0.5;
}
#footer .scnd-box {
  height: 350px;
  padding: 48px 27px;
}
#footer .scnd-box .info {
  font-size: 14px;
  margin-left: -31px;
}
#footer .scnd-box .info li {
  list-style: none;
}
#footer .scnd-box .info li a {
  color: #000;
  text-decoration: none;
}
#footer .scnd-box li {
  list-style: none;
}
#footer .scnd-box li a {
  text-decoration: none;
}
#footer .third-box {
  padding: 48px 27px;
  height: 350px;
}
#footer .third-box input {
  width: 270px;
  height: 45px;
  border-radius: 3px;
  padding: 0 40px 0 18px;
  border: 1px solid #e2e2e2;
}
#footer .third-box button {
  height: 45px;
  color: white;
  width: 100%;
  margin-top: 45px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 3px;
  background-color: #ef6c00;
}
#footer .fourth-box {
  padding: 48px 21px;
  height: 350px;
}
#footer .fourth-box .sosial-tags {
  margin-top: 35px;
  display: flex;
  gap: 10px;
}
#footer .fourth-box .sosial-tags ul {
  width: 35px;
  padding: 4px 10px;
  height: 35px;
  border: 1px solid;
  border-radius: 50%;
}
#footer .fourth-box .sosial-tags li {
  list-style: none;
}
#footer .fourth-box .sosial-tags li a {
  color: #000;
  text-decoration: none;
}/*# sourceMappingURL=contact.css.map */