#myNavbar .navbarUp {
  background: #222 !important;
  height: 64px;
}
#myNavbar .navbarUp .navbar-nav .dropdown {
  display: flex;
  margin-left: 22px;
  padding: 5px;
  gap: 60px;
}
#myNavbar .navbarUp .navbar-nav .dropdown a span {
  background: #ef6c00 !important;
  font-size: 11px;
  font-weight: 400;
  color: #fff;
  padding: 1px 3px;
}
#myNavbar .navbarUp .navbar-nav .dropdown .usd {
  font-weight: 700;
  color: #c3c3c3;
  font-size: 14px;
}
#myNavbar .navbarUp .navbar-nav .dropdown .dropdown-menu {
  width: 221px;
  border-top: 4px solid #c3c3c3 !important;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
}
#myNavbar .navbarUp .navbar-nav .dropdown .dropdown-menu .flag {
  width: 18px;
}
#myNavbar .navbarUp .navbar-nav .dropdown .language {
  font-weight: 500;
  color: #c3c3c3;
  font-size: 14px;
  transition: 0.4s;
}
#myNavbar .navbarUp .navbar-nav .dropdown .language .flag {
  width: 18px;
}
#myNavbar .navbarUp .nav-left {
  margin-right: 7px;
}
#myNavbar .navbarUp .nav-left .left {
  display: flex;
  gap: 12px;
}
#myNavbar .navbarUp .nav-left .left a {
  font-weight: 600;
  font-size: 14px;
  color: #c3c3c3;
  display: flex;
  transition: all 0.5s;
}
#myNavbar .navbarUp .nav-left .left a :hover {
  color: gray;
}
#myNavbar .navbarUp .nav-left .left i {
  margin-right: 6px;
  font-size: 20px;
  margin-top: 2px;
}
#myNavbar .navbarUp .nav-left .left .acount {
  width: 160px;
}
#myNavbar .navDown {
  width: 100%;
  height: 90px;
  background-color: #ef6c00;
}
#myNavbar .navDown .container {
  max-width: 100% !important;
}
#myNavbar .navDown .logo {
  margin-left: 41px;
  margin-top: 23px;
}
#myNavbar .navDown .search {
  margin-top: 25px;
  margin-left: 42px;
}
#myNavbar .navDown .search input {
  margin-top: 20px;
  width: 80%;
  margin: 0 auto;
  padding: 15px 20px;
  border-radius: 3px 0px 0 3px;
  border: 1px #fff;
  height: 40px;
  float: left;
  outline: none;
}
#myNavbar .navDown .search button {
  border-radius: 0 3px 3px 0;
  height: 40px;
  text-transform: uppercase;
  width: 120px;
  background-color: #222;
}
#myNavbar .navDown .text-basket {
  gap: 12px;
  display: flex;
  align-items: center;
  line-height: 1;
  font-family: sans-serif;
  margin-left: 60px;
  margin-top: 26px;
}
#myNavbar .navDown .text-basket .icon-phone i {
  color: white;
  font-size: 29px;
  width: 29px;
  height: 28px;
}
#myNavbar .navDown .text-basket .info-text p {
  font-weight: bolder;
  color: white;
  font-size: 12px;
  margin-bottom: 7px;
}
#myNavbar .navDown .text-basket .info-text span {
  font-family: system-ui;
  font-size: 20px;
  font-weight: 600;
  color: white;
}
#myNavbar .navDown .text-basket .basket {
  display: flex;
  margin-left: 25px;
  margin-bottom: 13px;
}
#myNavbar .navDown .text-basket .basket .button-icon {
  background-color: #ef6c00;
  border: none;
}
#myNavbar .navDown .text-basket .basket .icon-cart {
  position: absolute;
}
#myNavbar .navDown .text-basket .basket .icon-cart i {
  color: white;
  font-size: 22px;
}
#myNavbar .navDown .text-basket .basket .count-price {
  position: relative;
  bottom: 9px;
  left: 20px;
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
}
#myNavbar .navDown .text-basket .basket .count-price span {
  font-size: 12px;
  position: relative;
  bottom: 5px;
  right: 1px;
}
#myNavbar .navDown .text-basket .basket .count-price .price-class {
  left: 9px;
  position: relative;
  bottom: 4px;
}
#myNavbar .navDown .text-basket .basket .count-price .price-class span {
  font-weight: 600;
  font-size: 15px;
}
#myNavbar .secondNav {
  background-color: #f3f3f3;
}
#myNavbar .secondNav .container {
  max-width: 95% !important;
}
#myNavbar .secondNav .nvbar {
  background-color: #f3f3f3 !important;
}
#myNavbar .secondNav .nvbar .navbar-nav {
  display: flex;
  gap: 70px;
}
#myNavbar .secondNav .nvbar .nav-item a {
  color: black;
  font-size: 15px;
  font-weight: 600;
}

#slider body {
  position: relative;
  height: 100%;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
#slider .swiper {
  width: 100%;
  height: 100%;
}
#slider .swiper-button-prev {
  display: none;
}
#slider .swiper-button-next {
  display: none;
}
#slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#slider .swiper-slide .shop {
  position: absolute;
  background-color: #ef6c00;
  color: #fff;
  padding: 5px 33px;
  width: 200px;
  box-shadow: none !important;
  border: none;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  text-decoration: none;
  width: 200x;
  height: 43px;
  border-radius: 6px;
  left: 115px;
  bottom: 160px;
  cursor: pointer;
}
#slider .swiper-slide h1 {
  position: absolute;
  display: inline-block;
  left: 114px;
  top: 233px;
  font-size: 48px;
  color: #333;
  letter-spacing: 3px;
  font-weight: 700;
}
#slider .swiper-slide h3 {
  position: absolute;
  font-size: 36px;
  text-align: left;
  color: #333;
  margin-bottom: 30px;
  font-weight: 300;
  letter-spacing: 2px;
  bottom: 200px;
  left: 114px !important;
}
#slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#home-1-wrap {
  margin-top: 25px;
}
#home-1-wrap .container {
  max-width: 100% !important;
}
#home-1-wrap .info-bar {
  display: flex;
  padding: 12px;
  width: 100%;
  height: 150px;
  border: 1px solid rgba(187, 182, 182, 0.7019607843);
}
#home-1-wrap .info-bar .frst-post {
  display: flex;
  width: 355px;
}
#home-1-wrap .info-bar .frst-post .gft-icon {
  display: flex;
  padding: 18px 17px;
  border-right: 1px solid rgba(187, 182, 182, 0.7019607843);
}
#home-1-wrap .info-bar .frst-post .gft-icon i {
  color: #ef6c00;
  font-size: 36px;
  margin-top: 27px;
}
#home-1-wrap .info-bar .frst-post .gft-icon .post-text {
  margin-top: 23px;
  line-height: 13.5px;
  margin-left: 15px;
}
#home-1-wrap .info-bar .frst-post .gft-icon .post-text .text-title {
  font-weight: 600;
  font-family: inherit;
}
#home-1-wrap .info-bar .frst-post .gft-icon .post-text .info-text {
  color: gray;
  font-size: 14px;
}
#home-1-wrap .info-bar .scnd-post {
  width: 300px;
  margin-left: 20px;
}
#home-1-wrap .info-bar .scnd-post .gft-icon {
  display: flex;
  padding: 18px 0;
  border-right: 1px solid rgba(187, 182, 182, 0.7019607843);
}
#home-1-wrap .info-bar .scnd-post .gft-icon i {
  color: #ef6c00;
  font-size: 36px;
  margin-top: 27px;
}
#home-1-wrap .info-bar .scnd-post .gft-icon .post-text {
  margin-top: 23px;
  line-height: 13.5px;
  margin-left: 15px;
}
#home-1-wrap .info-bar .scnd-post .gft-icon .post-text .text-title {
  font-weight: 600;
  font-family: inherit;
}
#home-1-wrap .info-bar .scnd-post .gft-icon .post-text .info-text {
  color: gray;
  font-size: 14px;
}
#home-1-wrap .info-bar .three-post {
  width: 300px;
  margin-left: 10px;
}
#home-1-wrap .info-bar .three-post .gft-icon {
  height: 118px;
  display: flex;
  padding: 18px 10px;
  border-right: 1px solid rgba(187, 182, 182, 0.7019607843);
}
#home-1-wrap .info-bar .three-post .gft-icon i {
  margin-top: 20px;
  color: white;
  width: 50px;
  height: 50px;
  background-color: #ef6c00;
  text-align: center;
  border-radius: 65%;
  font-size: 30px;
  padding: 9px;
}
#home-1-wrap .info-bar .three-post .gft-icon .post-text {
  margin-top: 23px;
  line-height: 13.5px;
  margin-left: 15px;
}
#home-1-wrap .info-bar .three-post .gft-icon .post-text .text-title {
  font-weight: 600;
  font-family: inherit;
}
#home-1-wrap .info-bar .three-post .gft-icon .post-text .info-text {
  color: gray;
  font-size: 14px;
}
#home-1-wrap .info-bar .four-post {
  width: 300px;
  margin-left: 10px;
}
#home-1-wrap .info-bar .four-post .gft-icon {
  display: flex;
  padding: 18px 10px;
}
#home-1-wrap .info-bar .four-post .gft-icon i {
  color: #ef6c00;
  font-size: 36px;
  margin-top: 27px;
}
#home-1-wrap .info-bar .four-post .gft-icon .post-text {
  margin-top: 23px;
  line-height: 13.5px;
  margin-left: 15px;
}
#home-1-wrap .info-bar .four-post .gft-icon .post-text .text-title {
  font-weight: 600;
  font-family: inherit;
}
#home-1-wrap .info-bar .four-post .gft-icon .post-text .info-text {
  color: gray;
  font-size: 14px;
}

#cards .container {
  max-width: 100% !important;
}
#cards .navbar-card {
  margin-top: 30px;
}
#cards .navbar-card .tab-nav {
  border-bottom: 1px solid rgba(187, 182, 182, 0.7019607843);
  --bs-nav-tabs-border-width: none;
}
#cards .navbar-card .tab-nav .nav-item {
  width: 200px;
  transition: all 1s;
}
#cards .navbar-card .tab-nav .nav-item :hover {
  border-bottom: 3px solid orange;
}
#cards .navbar-card .tab-nav .nav-item button {
  font-size: 14px;
  padding: 15px 25px;
  font-weight: 600;
  color: gray;
}
#cards .tab-one .row {
  --bs-gutter-x: -9.5rem;
  gap: 15px;
}
#cards .tab-one .card img {
  margin-left: 21px;
  height: 185px;
  width: 210px;
}
#cards .tab-one .card .card-body :hover a {
  background-color: #eee;
}
#cards .tab-one .card .card-body p {
  color: gray;
  font-size: 13px;
  line-height: 0;
}
#cards .tab-one .card .card-body .card-title {
  line-height: 0.8;
}
#cards .tab-one .card .card-body .money-icons {
  align-items: center;
  justify-content: center;
  line-height: 3;
}
#cards .tab-one .card .card-body .money-icons .icon-star {
  color: orange;
  font-size: 14px;
}
#cards .tab-one .card .card-body .money-icons .money {
  margin-left: 31px;
}
#cards .tab-one .card .card-body .money-icons .money span {
  font-size: 20px;
  font-weight: 400;
}
#cards .tab-one .card .card-body a :hover {
  background-color: #333 !important;
}
#cards .tab-one .card .card-body .mybtn {
  border: none;
  background-color: #ef6c00;
  width: 219px;
  border-radius: inherit;
  height: 42px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  padding-top: 10px;
  transition: all 0.5s;
}

#advertising-banner .container {
  max-width: 100% !important;
}
#advertising-banner .banners {
  display: flex;
  gap: 40px;
}
#advertising-banner .banners .left-banner {
  width: 50%;
  height: 440px;
  background-color: #f5f5f5;
}
#advertising-banner .banners .left-banner .info-tech {
  padding: 15px;
}
#advertising-banner .banners .left-banner .info-tech .text-box h4 {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}
#advertising-banner .banners .left-banner .info-tech .text-box p {
  line-height: 0.6;
}
#advertising-banner .banners .left-banner .info-tech .text-box a {
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}
#advertising-banner .banners .left-banner .banner-img .laptop-img img {
  margin-top: -64px;
  width: 406px;
  height: 382px;
  margin-left: 213px;
}
#advertising-banner .banners .right-banner {
  width: 50%;
}
#advertising-banner .banners .right-banner .up {
  display: flex;
  gap: 20px;
}
#advertising-banner .banners .right-banner .up .right-up {
  background-size: cover;
  background-image: url("../../img/Home/reklam-laptop2.png");
  width: 300px;
  height: 150px;
}
#advertising-banner .banners .right-banner .up .right-up .text {
  padding: 5px 35px;
}
#advertising-banner .banners .right-banner .up .right-up .text h4 {
  font-weight: 700;
  font-size: 19px;
  text-transform: uppercase;
}
#advertising-banner .banners .right-banner .up .right-up .text p {
  line-height: 0.6;
}
#advertising-banner .banners .right-banner .up .right-up .text a {
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}
#advertising-banner .banners .right-banner .up .left-up {
  background-size: cover;
  background-image: url("../../img/Home/cameras.png");
  width: 50%;
}
#advertising-banner .banners .right-banner .up .left-up .text {
  padding: 10px 15px;
}
#advertising-banner .banners .right-banner .up .left-up .text h4 {
  font-weight: 700;
  line-height: 1;
  width: 20px;
  height: 58px;
  font-size: 20px;
}
#advertising-banner .banners .right-banner .up .left-up .text p {
  line-height: 0.6;
}
#advertising-banner .banners .right-banner .up .left-up .text a {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}
#advertising-banner .banners .right-banner .down {
  padding: 27px;
  background-color: #f5f5f5;
  background-size: cover;
  width: 100%;
  height: 58.1%;
  margin-top: 30px;
  background-image: url("../../img/Home/mobiles.png");
}
#advertising-banner .banners .right-banner .down .text h4 {
  font-family: system-ui;
  line-height: 1;
  font-weight: 700;
  width: 200px;
  text-transform: uppercase;
  font-size: 37px;
}
#advertising-banner .banners .right-banner .down .text p {
  font-weight: 500;
  font-size: 16px;
}
#advertising-banner .banners .right-banner .down .text a {
  text-decoration: none;
}
#advertising-banner .banners .right-banner .down .text a button {
  width: 150px;
  height: 55px;
  font-size: 26px;
  background: #ef6c00;
  font-weight: 600;
}/*# sourceMappingURL=home.css.map */