#myNavbar {


    .navbarUp {
        background: #222 !important;
        height: 64px;

        .navbar-nav {

            .dropdown {
                display: flex;
                margin-left: 22px;
                padding: 5px;
                gap: 60px;

                a {

                    .money {
                        background: #ef6c00 !important;
                        font-size: 11px;
                        font-weight: 400;
                        color: #fff;
                        padding: 1px 3px;

                    }
                }


                .usd {
                    font-weight: 700;
                    color: #c3c3c3;
                    font-size: 14px;
                }

                .dropdown-menu {
                    width: 221px;
                    border-top: 4px solid #c3c3c3 !important;
                    font-family: Roboto, Helvetica Neue, sans-serif;
                    font-size: 14px;

                    .flag {
                        width: 18px;
                    }


                }

                .language {
                    font-weight: 500;
                    color: #c3c3c3;
                    font-size: 14px;
                    transition: .4s;


                    .flag {
                        width: 18px;

                    }


                }



            }
        }

        .nav-left {
            margin-right: 7px;

            .left {
                display: flex;
                gap: 12px;



                a {
                    font-weight: 600;

                    font-size: 14px;
                    color: #c3c3c3;
                    display: flex;
                    transition: all 0.5s;

                    :hover {
                        color: gray;
                    }
                }

                i {
                    margin-right: 6px;
                    font-size: 20px;
                    margin-top: 2px;

                }


                .acount {
                    width: 160px;
                }
            }
        }
    }

    .navDown {
        width: 100%;
        height: 90px;
        background-color: #ef6c00;

        .container {
            max-width: 100% !important;


        }

        .logo {
            margin-left: 41px;
            margin-top: 23px;

        }

        .search {

            margin-top: 25px;
            margin-left: 42px;


            input {
                margin-top: 20px;
                width: 80%;
                margin: 0 auto;
                padding: 15px 20px;
                border-radius: 3px 0px 0 3px;
                ;
                border: 1px #fff;
                height: 40px;
                float: left;
                outline: none;

            }

            button {
                border-radius: 0 3px 3px 0;
                height: 40px;
                text-transform: uppercase;
                width: 120px;
                background-color: #222;
            }

        }


        .text-basket {
            gap: 12px;
            display: flex;
            align-items: center;
            line-height: 1;
            font-family: sans-serif;
            margin-left: 60px;
            margin-top: 26px;

            .icon-phone {
                i {
                    color: white;
                    font-size: 29px;
                    width: 29px;
                    height: 28px;
                }
            }

            .info-text {


                p {
                    font-weight: bolder;
                    color: white;
                    font-size: 12px;
                    margin-bottom: 7px;
                }

                span {
                    font-family: system-ui;
                    font-size: 20px;
                    font-weight: 600;
                    color: white;
                }
            }


            .basket {
                display: flex;
                margin-left: 25px;
                margin-bottom: 13px;


                .button-icon {
                    background-color: #ef6c00;
                    border: none;
                }


                .icon-cart {
                    position: absolute;

                    i {
                        color: white;
                        font-size: 22px;
                    }

                }

                .count-price {
                    position: relative;
                    bottom: 9px;

                    left: 20px;
                    width: 15px;
                    height: 15px;
                    background-color: black;
                    border-radius: 50%;

                    span {
                        font-size: 12px;
                        position: relative;
                        bottom: 5px;
                        right: 1px;
                    }

                    .price-class {
                        left: 9px;
                        position: relative;
                        bottom: 4px;

                        span {
                            font-weight: 600;
                            font-size: 15px;
                        }
                    }


                }
            }


        }
    }


    .secondNav {
        background-color: #f3f3f3;

        .container {
            max-width: 95% !important;
        }

        .nvbar {
            background-color: #f3f3f3 !important;

            .navbar-nav {

                display: flex;
                gap: 70px;
            }

            .nav-item {

                a {
                    color: black;
                    font-size: 15px;
                    font-weight: 600;
                }
            }

        }

    }

    .about-navbar {
        width: 100%;
        height: 60px;
        border: 1px solid #f3f3f3;


        .container {
            max-width: 100% !important;

            .navAbout {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px 15px;

                .left {

                    h4 {
                        text-transform: uppercase;
                        font-size: 14px;
                    }
                }


                .right {
                    display: flex;

                    a {
                        color: #222;
                        text-decoration: none;
                    }

                    h4 {
                        text-transform: uppercase;
                        font-size: 14px;

                    }

                }

            }
        }
    }

}


#checkout {


    .form {
        margin-bottom: -20px;
        margin-top: 60px;

        .group {
            position: relative;
            margin-bottom: 45px;
        }

        input,
        textarea {
            font-size: 15px;
            padding: 10px 10px 10px 5px;
            display: block;
            width: 100%;
            border: none;
            border-bottom: 1px solid #777;
            outline: none;


            &:focus~label,
            &:valid~label {
                top: -8px;
                font-size: 10px;
            }

            &:focus~.bar::before,
            &:focus~.bar::after {
                width: 50%;
            }

        }

        input:focus {
            outline: none;
        }

        /* LABEL ======================================= */
        .textarea {
            height: 110px;
            padding: 10px 0 0 5px;
            resize: none;
        }

        label {
            color: #999;
            font-size: 14px;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 10px;
            transition: 0.4s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }

        /* active state */
        input:focus~label,
        input:valid~label {
            top: -20px;
            font-size: 14px;
            color: #ef6c00;
        }

        textarea:focus~label,
        textarea:valid~label {
            top: -20px;
            font-size: 14px;
            color: #ef6c00;
        }

        /* BOTTOM BARS ================================= */
        .bar {
            position: relative;
            display: block;
            width: 100%;
        }

        .bar:before,
        .bar:after {
            content: '';
            height: 2px;
            width: 0;
            bottom: 0;
            position: absolute;
            background: #ef6c00;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }

        .bar:before {
            left: 50%;
        }

        .bar:after {
            right: 50%;
        }

        /* active state */
        input:focus~.bar:before,
        input:focus~.bar:after {
            width: 50%;
        }

        /* HIGHLIGHTER ================================== */
        .highlight {
            position: absolute;
            height: 60%;
            width: 100px;
            top: 25%;
            left: 0;
            pointer-events: none;
            opacity: 0.5;
        }

        /* active state */
        input:focus~.highlight {
            -webkit-animation: inputHighlighter 0.3s ease;
            -moz-animation: inputHighlighter 0.3s ease;
            animation: inputHighlighter 0.3s ease;
        }

        /* ANIMATIONS ================ */
        @-webkit-keyframes inputHighlighter {
            from {
                background: white;
            }

            to {
                width: 0;
                background: transparent;
            }
        }

        @-moz-keyframes inputHighlighter {
            from {
                background: white;
            }

            to {
                width: 0;
                background: transparent;
            }
        }

        @keyframes inputHighlighter {
            from {
                background: white;
            }

            to {
                width: 0;
                background: transparent;
            }
        }
    }

    .header {
        margin-top: 35px;
    }

    .click-btn {

        margin-bottom: 50px;

        button {
            border: none;
            background-color: #ef6c00;
            width: 160px;
            font-size: 14px;
            height: 50px;
            font-weight: 700;
            color: white;
        }
    }



    .container {
        max-width: 1300px;

        .left-box {
            width: 50%;

            .title {
                margin-top: 15px;

                h2 {
                    font-weight: 700;
                    font-size: 36px;
                    text-transform: capitalize;
                    line-height: 1;
                    letter-spacing: .02em;
                }

            }

            .inputs-flex {
                gap: 15px;
                display: flex;

                .group {
                    width: 320px;

                }
            }

            .header-title {
                margin-left: 5px;
                line-height: 0.5;


                h3 {
                    font-size: 28px;
                    font-weight: 500;
                }

                p {
                    color: #777;
                }
            }



        }

        .right-box {
            width: 50%;

            .order-box {
                border: 1px solid #d3c8c8;

                height: 610px;
                width: 100%;
                padding: 4px 40px;
                margin-top: 18px;

                .title {
                    border-bottom: 1px solid #d3c8c8;
                    display: flex;
                    gap: 300px;
                    margin-top: 35px;
                    p{
                        font-weight: 500;
                    }

                    h5 {
                        margin-bottom: 40px;

                    }

                    .total {
                        font-size: 20px;
                        color: #f33927;
                        font-weight: 500;

                    }

                    .price {
                        margin-left: 32px;

                    }

                }

                .center-text {
                    margin-top: 15px;
                    border-bottom: 1px solid #d3c8c8;



                }

                .payment {
                    gap: 5px;
                    display: inline-grid;
                    margin-top: 35px;


                    .bank {
                        gap: 10px;
                        display: flex;
                        align-items: center;

                        span {
                            font-weight: 400;
                            font-size: 14px;
                            color: gray;
                            font-family: revert;
                        }

                    }

                    input {
                        transition: accent-color ease 280ms;
                        accent-color: #F3392C;
                        cursor: pointer;

                        height: 30px;
                        width: 20px;
                    }



                }

                .right {
                    margin-top: 35px;

                }

            }
        }

    }
}


#footer {

    width: 100%;
    background-color: #f7f7f7;

    .container {
        max-width: 100% !important;

    }


    .frst-box {
        padding: 48px 27px;
        height: 350px;

        p {
            font-size: 16px;
            font-weight: 400;
        }

        a {
            color: #000;
            text-decoration: none;

            p {
                line-height: 0.5;
            }
        }
    }


    .scnd-box {
        height: 350px;
        padding: 48px 27px;

        .info {
            font-size: 14px;
            margin-left: -31px;

            li {
                list-style: none;

                a {
                    color: #000;
                    text-decoration: none;
                }
            }


        }



        li {
            list-style: none;

            a {
                text-decoration: none;
            }
        }
    }

    .third-box {
        padding: 48px 27px;
        height: 350px;

        input {
            width: 270px;
            height: 45px;
            border-radius: 3px;
            padding: 0 40px 0 18px;
            border: 1px solid #e2e2e2;
        }

        button {
            height: 45px;
            color: white;
            width: 100%;
            margin-top: 45px;
            font-size: 16px;
            font-weight: 700;
            border-radius: 3px;
            background-color: #ef6c00;

        }

    }

    .fourth-box {
        padding: 48px 21px;
        height: 350px;

        .sosial-tags {
            margin-top: 35px;
            display: flex;
            gap: 10px;

            ul {
                width: 35px;
                padding: 4px 10px;
                height: 35px;
                border: 1px solid;
                border-radius: 50%;
            }

            li {
                list-style: none;

                a {
                    color: #000;
                    text-decoration: none;
                }
            }

        }

    }

}